<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style.css" />
  <title>Book Reviews - Project 2 by Group 4</title>
</head>

<body>

  <nav>
    <a href="/">Home</a>
    &nbsp;|&nbsp;
    <a href="/bookSearch" id="bookSearch">Book Search</a>
    {{#if loggedIn}}
      &nbsp;|&nbsp;
      <a href="/api/favBooks" id="favBooks">Favorites</a>
      &nbsp;|&nbsp;
      <a href="#" id="logout">Logout</a>
    {{/if}}
  </nav>
  <p>
    <hr /> {{!-- hyper rule --}}
  </p>
  {{{body}}}
  <script src="js/logout.js"></script>
</body>

</html>
