<div class="post card">
    <h2>Add a Review</h2>
  <form id="add=review-form">
    <label class="form-label" for="review-title">Title</label>
    <input type="text" name="review-title" id="review-title"/>
    <label class="form-label" for="review-body">Review</label>
    <textarea name="review-body" id="review-body"></textarea>

    <button type="submit" id="submitBtn">Add Review</button>
  </form>
</div>

<script src="js/addReview.js"></script>
