<div>
  <h1>Book Search Page</h1>
  <p>Search for a book here.</p>
  <form id="search-form">
    <input type="text" id="search-input" />
    <button type="submit" id="search">Search</button>
  </form>
</div>
<script src="/js/search.js"></script>
