//Here is where user can search for a book
// also can click to add a book to favorites
//can click to write a review

<h1>Dashboard</h1>  


{{!-- CONNECT TO GOOGLE BOOKS API --}}
<form id="search-book-form">
  <input type="text" name="search" placeholder="Search for a book" id="search-term">
  <button type="submit">Search</button>
</form>
<script src="searchgoogle.js"></script>