<div>
  <h1>Book Review Website</h1>
  <p>Welcome. Please Signup or Login.</p>
  <a href="/signup"><button id="signup">Signup</button></a>
  <a href="/login"><button id="login">Login</button></a>
</div>
