<h1>Welcome to the body page</h1>
<h2>Signup Form</h2>
  <form id="signup-form">
  <input type="text" name="name" placeholder="Enter your name" id="username">
  <input type="text" name="email" placeholder="Enter your email" id="email">
    <input type="password" name="password" placeholder="Enter your password" id="password">
  <button type="submit" value="Signup">Signup</button>

</form>


<h2>Login Form</h2>
  <form  id="login-form">
 <input type="text" name="email" placeholder="Enter your email" id="email-login">
    <input type="password" name="password" placeholder="Enter your password" id="password-login">
  <button type="submit" value="Login">Login</button>


</form>

<script src="index.js"></script>